.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background: #2c2c2c;
  color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  color:#ff6500;
  font-size: 2rem;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #e0e0e0;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff6500;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 1001;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* animação para X */
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

/* Responsivo */
@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 100%;
    background: #222;
    flex-direction: column;
    transition: right 0.3s ease;
    align-items: flex-start;
    padding: 2rem;
    z-index: 1000;
  }

  .nav.open {
    right: 0;
  }

  .menu-toggle {
    display: flex;
  }
}

